*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

.panel{
    border: 1px solid gray;
    width: 500px;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
}

.error{
    color: red;
}

.panel h1{
    margin-top: 0px;
}

.hidden{
    display: none;
}


.student{
    border: 1px solid blue;
}